header {
  height: 40%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  text-align: center;
  transition: height 0.3s;
  z-index: 100;
}
footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 5%;
  position: sticky;
  text-align: center;
  background-color: transparent;
}

main {
  margin: auto;
  width: 80%;
  height: 100%;
  place-items: center;
  margin-top: 25%;
  margin-bottom: 15%;
}
.heading {
  font-size: 20pt;
  border-bottom: 2%;
}

nav a {
  width: 100%;
  font-size: 12px;
  text-align: center;
  bottom: 0;
  color: white;
}

h1 {
  text-align: center;
  font-size: 30px bold;
  letter-spacing: 10px;
  margin-bottom: 0.5cm;
}

nav a.router-link-exact-active {
  color: rgb(125, 65, 125);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

@media (min-width: 1024px) {
  header {
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    place-items: center;
    flex-wrap: wrap;
  }

  nav {
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 1rem;
  }
}
