<script setup>
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <header>
    <div class="wrapper">
      <h1 class="title">Blessed</h1>
      <div>
        <h4 class="subtitle">
          <i class="fa-solid fa-scissors" /> The Ultimate Barber
          <i class="fa-solid fa-scissors" />
        </h4>
      </div>
    </div>
    <div class="navigation">
      <nav>
        <RouterLink to="/home"><i class="fa-solid fa-house" /> Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
        <RouterLink to="/preise">Preise</RouterLink>
        <RouterLink to="/gallerie">Gallerie</RouterLink>
        <RouterLink to="/termin">Termin</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView />

  <footer>
    <div id="footer">© 2033 by Blessed The Ultimate Barber.</div>
  </footer>
</template>

<style scoped>
.subtitle {
  color: white;
}
.title {
  text-align: center;
  font-size: 30px bold;
  letter-spacing: 20px;
  margin-top: 5%;
  margin-bottom: 0.5cm;
}
.fa-scissors {
  font-size: 20px;
}
nav a {
  text-decoration: none;
}
</style>
