<script setup></script>

<template>
  <main>
    <div id="about" class="kontakt">
      <h1 id="heading"><i class="fa-solid fa-circle-info" /> ÜBER UNS</h1>
      <h4>
        Unser professionelles Team aus erfahrenen Friseurinnen und Friseuren
        steht Ihnen zur Verfügung, um Ihre individuellen Bedürfnisse und Wünsche
        zu erfüllen.
      </h4>
    </div>
    <div id="kontakt-Info" class="kontakt anschrift">
      <div id="anschrift">
        <h2><i class="fa-solid fa-location-dot" /> Anschrift</h2>
        <h4>Arlbergstr 31, 70327 Stuttgart</h4>
      </div>

      <div id="kontakt">
        <h2><i class="fa-solid fa-phone" /> Wir sind erreichbar unter:</h2>
        <ul>
          Telefon: 015210369418
        </ul>
        <ul>
          Email: blesseddeultimate@gmail.com
        </ul>
      </div>

      <div>
        <h2><i class="fa-solid fa-clock" /> Unsere Öffnungszeiten:</h2>
        <h4>Di - Sa: 10:00 - 18:00</h4>
      </div>
    </div>
  </main>
</template>

<style scoped>
.kontakt {
  text-align: center;
}

.anschrift {
  background: #ebe5eb;
  padding: 40px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

#kontakt-Info {
  margin-top: 10%;
}
h4 {
  font-weight: normal;
}
</style>
