<script setup></script>

<template>
  <main>
    <div class="gallerie">
      <h1 class="heading"><i class="fa-solid fa-camera-retro" /> GALLERIE</h1>
      <h4>Lass dich hier inspirieren von zahlreichen kreativen Ideen.</h4>
    </div>
  </main>
</template>

<style scoped>
.gallerie {
  text-align: center;
}
h4 {
  font-weight: normal;
}
</style>
