<script setup>
import { RouterLink } from "vue-router";
</script>

<template>
  <main>
    <div>
      <h1 class="heading">WILLKOMMEN</h1>
      Herzlich willkommen bei Blessed The Ultimate Barber! Wir freuen uns, dass
      Du den Weg zu uns gefunden haben. Unser professionelles Team aus
      erfahrenen Friseurinnen und Friseuren steht Dir zur Verfügung, um Deine
      individuellen Bedürfnisse und Wünsche zu erfüllen.

      <div>
        <nav>
          <RouterLink to="/about">Erfahre mehr über uns</RouterLink>
          <RouterLink to="/termin">Jetzt Termin buchen</RouterLink>
        </nav>
      </div>
    </div>

    <div id="about">
      <img src="../components/images/Kaka_PNG.png" width="40%" height="90%" />
    </div>
  </main>
</template>

<style scoped>
a {
  color: black;
  font-size: 10pt;
}

#about {
  margin-top: 10%;
}
</style>
