<script>
import DataService from "../services/DataServices.js";

export default {
  data() {
    return {
      priceList: [],
    };
  },
  methods: {
    retrieveData() {
      DataService.getPriceList()
        .then((response) => {
          this.priceList = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
          this.message = "Data could not be loaded.";
        });
    },
  },
  mounted() {
    this.retrieveData();
  },
};
</script>

<template>
  <main>
    <div id="preise" class="list">
      <h1 class="heading">
        <i class="fa-solid fa-hand-holding-dollar" /> PREISE
      </h1>
      <h4>
        Entdecke unsere transparenten Preise für erstklassige
        Haardienstleistungen. Wir bieten Qualität und Stil zu fairen Preisen.
        Erfahren Sie mehr und gönnen Sie sich ein exklusives Styling-Erlebnis.
      </h4>

      <ul>
        <h3>Folgende Haardienstleistungen bieten wir an</h3>
        <li v-for="priceService in priceList">
          <div class="preis">
            <span>{{ priceService.service }}</span
            ><span>{{ priceService.price + " €" }}</span>
          </div>
        </li>
      </ul>
    </div>
  </main>
</template>

<style scoped>
#preise {
  text-align: center;
}
h4 {
  text-align: left;
  font-weight: normal;
  margin-bottom: 10%;
}
h3 {
  margin-bottom: 5%;
}
.list {
  box-sizing: border-box;
}
.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
ul {
  background: #ebe5eb;
  padding: 40px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
.preis {
  display: flex;
  justify-content: space-between;
}

.list ul li {
  position: relative;
  left: 0;
  list-style: none;
  margin: 15px 0;
  border-left: 2px solid rgb(125, 65, 125);
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 15px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
</style>
