<script setup>
/* toDo

  <select name="hairstyle" id="">
              <option value="">--Service auswählen--</option>
              <option value="dog">Signature Haircut</option>
              <option value="cat">Haircut</option>
              <option value="hamster">Beard Shaving</option>
              <option value="parrot">Beard Trim</option>
              <option value="spider">Cut & Shave</option>
              <option value="goldfish">Deep Tissue Shave</option>
              <option value="goldfish">Eyebrow Threading</option>
            </select>
*/
</script>

<template>
  <main>
    <div id="termin" class="termin">
      <h1 class="heading">JETZT TERMIN VEREINBAREN</h1>

      <h4>
        Hier findest du die verfügbaren Termine, die du buchen kannst. Termin
        Buchung und Stornierung finden ausschließlich hier statt.
      </h4>

      <div class="login-box">
        <h2><i class="fa-solid fa-calendar-check" /> Terminanfrage</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required />
            <label>Haircut</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required />
            <label>Name</label>
          </div>
          <div class="user-box">
            <input type="email" name="" required />
            <label>E-Mail</label>
          </div>
          <div class="user-box">
            <input type="number" name="" required />
            <label>Number</label>
          </div>
          <div class="user-box">
            <input type="date" name="" required />
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            JETZT BUCHEN
          </a>
        </form>
      </div>
    </div>
  </main>
</template>
<style scoped>
.termin {
  text-align: center;
}

h4 {
  margin-bottom: 10%;
  font-weight: normal;
}

.login-box {
  margin: auto;
  width: 60%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

h2 {
  color: rgb(125, 65, 125);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(125, 65, 125);
  font-size: 12px;
}

.login-box form a {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(125, 65, 125);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: rgb(125, 65, 125);
  color: #fff;
  border-radius: 5px;
}
</style>
